@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("Fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

*{
    color: #FCC42F;
    font-family: "roboto";

}

body{
    margin: 20;
    background-color: #221A0F;
    max-height: 100rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1%;
}


h1{
    font-size: 500%;
    padding-left: 6;
    background-color: #ffa500;
    background: radial-gradient(#E39823 40%, #8D5001);
    border-radius: 5px;
    /*url("C:/Users/Nye/Documents/GitHub/Portfolio-Site/Images/NoiseFilter.png");*/
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}



