:root {
  --bg: #eff7e1;
  --bg-1: #214151;
  --bg-2: #c8a777;
  --bg-3: #744923;
  --bg-4: #1DA1F3;
}
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700); */
body,
html {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}
a{
  text-decoration: none;
}
.btn {
  transition: all 0.2s ease;
}
.btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 wheat;
}
.sec-1 {
  transition: all 0.3s ease;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--bg-1);
  background-color: var(--bg-1);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  color: white;
  z-index: 999;
}

.nav-left {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: capitalize;
}

.menu-btn {
  cursor: pointer;
}
.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  position: relative;
  transition: all 0.2s ease;
  top: 0;
  left: 0;
  opacity: 100;
  border-radius: 0;
}

.line1.active{
  transform: rotate(45deg);
  top: 8px;
  border-radius: 5px;
}
.line2.active{
  left: -5px;
  opacity: 0;
}
.line3.active{
  transform: rotate(-45deg);
  top: -8px;
  border-radius: 5px;
}
.menu{
  overflow: hidden;
  position: fixed;
  inset: 70px 100% 0 0;
  /* inset: 70px 0 0 0; */
  background-color: #46708581;
  z-index: 998;
  transition: all .5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu.open{
  inset: 70px 0 0 0;
}
.menu-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  gap: 20px;
}
.menu-inner a{
  color: white;
}
.sec-1 {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: 280px minmax(230px, 330px);
  grid-template-rows: minmax(300px, 350px);
  place-content: center;
  padding: 20px;
  column-gap: 30px;
  row-gap: 5px;
}
.sec1-img {
  grid-column: 2/4;
  background-image: url(./images/Profile3.png);
  background-size: cover;
  background-position: center;
}
.sec1-title {
  font-size: clamp(2em, 6vmin, 3em);
  font-weight: 700;
  color: rgb(37, 74, 104);
}
.sec1-body {
  font-size: clamp(1.1em, 4vmin, 1.5em);
}
span.colored-text {
  color: var(--bg-2);
  font-size: clamp(1.1em, 4vmin, 1.5em);
  font-weight: 700;
}
.sec1-btn {
  margin-top: 35px;
  background-color: var(--bg-2);
  color: white;
  font-size: 1.3em;
  font-weight: 700;
  padding: 10px 20px;
  box-shadow: 6px 6px 2px rgb(182, 182, 182);
  width: max-content;
  height: max-content;
  cursor: pointer;
}
.sec1-left {
  align-self: center;
}

@media (max-width: 600px) {
  .sec-1 {
    grid-template-columns: 250px minmax(200px, 330px);
  }
  .nav-left{
    font-size: clamp(1em, 3vmin, 1.5em);
  }
}
@media (max-width: 550px) {
  .sec-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    justify-items: center;
    row-gap: 20px;
  }
  .sec1-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .sec1-img {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-self: center;
  }
  .sec1-btn {
    margin-top: 15px;
    font-size: 1.1em;
  }
}

.sec-2 {
  background-color: var(--bg-3);
  color: white;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
  padding: 50px;
  text-align: center;
}
.sec2-title {
  font-size: 1.5em;
  font-weight: 700;
}
.sec2-body {
  font-size: 1.1em;
  max-width: 450px;
}

.sec-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec3-inner {
  position: relative;
  top: 190px;
  background: #ffffff;
  box-shadow: 0px 0px 28.785px 3.59813px #cccccc;
  padding: 25px;
  margin: 10px;

  text-align: center;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec3-title {
  font-size: 1.4em;
  font-weight: 700;
}
.sec3-body {
  font-size: 1.1em;
}

/* sec 5 */

.sec-5 {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 750px);
  grid-template-rows: auto repeat(4, max-content);
  position: relative;
  top: 200px;
  justify-content: center;
}
.sec5-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--bg-3);
}
.project {
  display: grid;
  grid-template-columns: minmax(100px, 150px) 1fr;
  grid-template-rows: auto 1fr auto;
  background: #ffffff;
  box-shadow: 0px 0px 28.785px 3.59813px #cccccc;
  padding: 25px;
  margin: 20px;
  column-gap: 20px;
  row-gap: 10px;
}
.project-img {
  grid-row: 1/4;
  background-image: url(./pages/gallery/epq-project/projectHeaderImage.png);
  background-size: cover;
  background-position: center;
}
.project-title {
  font-size: 1.4em;
  font-weight: 700;
  color: var(--bg-1);
}
.project-body {
  font-size: 1em;
}
.proj-learn-more-btn {
  background-color: var(--bg-3);
  color: white;
  width: max-content;
  padding: 10px 15px;
  font-size: 1.2em;
  cursor: pointer;
}

@media (max-width: 570px) {
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-auto-rows: max-content;
  }
  .proj-learn-more-btn {
    font-size: 1em;
  }
}

.sec-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  background-color: var(--bg-1);
  padding: 20px;
  position: relative;
  top: 210px;
}
.sec6-title{
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: 700;
    margin: 0 10px;
}
.contacts {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 80px));
  grid-auto-rows: 70px;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.social-media {
  background: #ffffff;
  box-shadow: 0px 0px 28.785px 3.59813px #3d3d3d;
  padding: 10px;
  border-radius: 15px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  color: var(--bg-4);
  text-align: center;
}









.s-img{
  width: 40px;
  height: 40px;
  margin: 5px auto;
}
.twitter{
  background-image: url(./icons/twitter.png);
  background-size: contain;
  background-position: center;
}
.github{
  background-image: url(./icons/github.png);
  background-size: contain;
  background-position: center;
}
.email{
  background-image: url(./icons/email.png);
  background-size: contain;
  background-position: center;
}
.dev{
  background-image: url(./icons/dev.png);
  background-size: cover;
  background-position: center;
}


@media (max-width:370px) {
  .contacts{
    grid-template-columns: repeat(2, minmax(60px, 80px));
    column-gap: 10px;
    row-gap: 30px;
  }
}