@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("Fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

*{
    color: #ffffff;
    font-family: "roboto" ;
}

body{
    background-color: #221A0F;
}

h1{
    font-size: 50;
    background-color: #ffa500;
    margin-top: 120px;
    margin-left: 30px;
}

.row::after {
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* columns:
col-1 = leftmost gutter
col-2 = first column
col-4 = second column
col-6 = last column
col-3, 5, 7 = gutters*/
.col-1{width: 6.25%;}
.col-2{width: 31.25%;}
.col-3{width: 37.5%;}
.col-4{width: 62.5%;}
.col-5{width: 68.75%;}
.col-6{width: 93.75;}
.col-7{width: 100%}
