@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("Fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}


*{
    color: #FCC42F;
    font-family: "roboto";

}

body{
    margin: 20;
    background-color: #221A0F;
    background-image: url("Images/BackGroundTestNoGlow.png");
    background-position: bottom;
    
}


h1, h2, h3{
    background-color: #ffa500;
    background: radial-gradient(#E39823 40%, #8D5001);
    border-radius: 5px
}

h1{
    font-size: 5vw;
    padding-left: 6; 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

h2{
    font-size: 1vw;
    padding: 1.3vh;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 14;
    grid-row-end: 19;
}

h3{
    font-size: 1vw;
    padding: 1.3vh;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 7;
}

.titleScreenArea{ /*the large empty space around the title*/
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 8;
}

.orangeBack{ /*for anything that isnt a <h> tag*/
    background-color: #ffa500;
    background: radial-gradient(#E39823 40%, #8D5001);
    border-radius: 5px;
    padding: 5px;
}

.orangeBorder{

    border: 5px outset #E39823;
    border-radius: 5px;
}



.textBox{
    text-align: center;
    padding: 2.5vh;
    font-size: 1vw;
}

#filter{
    position: fixed;
    top: 0;
    left: 0;
}

#bodyAboveImage{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, 1fr);
    gap: 1vh;
    height: 200vh; 
}

#bodyBelowImage{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1vh;
    height: 170vh; 
}

#profileImage{ 
    width: 100%;
    height: auto;
    text-align: center;
}

#galleryLinkText{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9;
}

#programGalleryButton{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
}

#artGalleryButton{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 10;
    grid-row-end: 11;
}




