@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

body{
    color: #ffd256;
    font-family: "roboto";
    background-color: #181818;
    
}

h1{ 
    font-size: clamp(20px, 4vw, 170px);
    height: 20vh;
    text-align: center;

}


a:link, a:visited{
    color: #ffd256;
    text-decoration: none;
}


.textBox{
    text-align: left;
    font-size: 1vw;

    margin-top: 3vh;

    padding: 2.5vh;
}

.videoContainer{
    text-align: center;
    
}

iframe{
    border: 2px solid transparent;
    border-radius: 5px;

    padding: 5px;
    transition: border 0.5s;
}

iframe:hover{
    border: 2px solid #ffd256;
}

.backButton{
    font-size: clamp(20px, 2vw, 170px);

    margin-top: 10vh;
    margin-bottom: 5vh;

    text-decoration: none;
}

#backButtonContainer{
    text-align: center; 
    margin-bottom: 7vh; 
    margin-top: 7vh;
}


@media (orientation:portrait){
    body{
        /*
        touch-action: none;
        touch-action: pan-y;
        as well as disabling double tap, disables zoom which some people with bad eyes need, use something else
        */
        touch-action: manipulation; /*stops double tap zoom*/

        -webkit-text-size-adjust: none; /*stops browsers messing with text size*/
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
    }

    h1{
        font-size: 10vw;

        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 5vh; 
        margin-bottom: 20vh;

        padding-top: 0.5vh;

        border-radius: 0;

        height: 10vh;

    }

    h2{
        font-size: clamp(25px, 3.6vw, 50px);
        padding: 0;
    }

    .textBox{
        font-size: clamp(25px, 2vw, 50px);
        padding: 15px;
        margin-bottom: 5vh;
    }

    .backButton{
        font-size: clamp(25px, 2.5vw, 50px);
    }

    .videoContainer{
        text-align: center;
    }
    
    iframe{
        border: 2px solid #ffd256;
        
        width: 90vw;
        height: 50vw;
    }

}





