@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}
html{
    font: 100%;
}

body{
    color: #ffd256;
    background-color: #181818;
    font-family: "roboto";
    line-height: 1.3;
}

button{
    background-color: transparent;
    border: none;
    color: #ffd256;
}


button:focus {
    border: none;
    outline: none;
}

a:not(.galleryLink), a:visited:not(.galleryLink){
    color: #ffd256;
    border-radius: 2px;
    transition: background-color 0.5s, color 0.5s;
}

.galleryLink{ /*class to be given to any link that doesnt want fancy yellow backgrounds on hover*/
    text-decoration: none;
}

h1{ 
    font-size: clamp(1.2rem, 4vw, 4rem);

    padding-left: 6; 

    margin-top: 4vh;

    text-align: center;

}

.subTitle{
    font-size: 30%;
    padding-top: 10;
    padding-left: 5;
}

#socialBar{
    display: flex;
    margin-bottom: 5vh;   

    justify-content: center;
}

#backButtonContainer{
    text-align: center; 
    margin-bottom: 7vh; 
    margin-top: 7vh;
}


.orangeBorder{
    border: 2px solid transparent;
    border-radius: 5px;

    padding: 5px;

    transition: border 0.5s;
}

.orangeBorder:hover{
    border: 2px solid #ffd256;
    padding: 5px;
}