@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

body{
    color: #ffd256;
    font-family: "roboto";
    background-color: #181818;

    line-height: 1.3;
    margin: 3vw;
}

h1{ 
    font-size: clamp(20px, 4vw, 170px);
    text-align: left;

}

h2{
    padding-top: 10px;
}

h3{
    font-size: 0.9vw;
    padding-bottom: 4px;
}

ul{
    list-style-type: circle;
    padding-bottom: 5px;
    padding-left: 20px;
}

li{
    padding-top: 10px;
    font-size: 0.8vw;
}

a:link, a:visited{
    color: #ffd256;
}

.backButton{
    text-align: center;
    font-size: clamp(20px, 1vw, 170px);

    margin-top: 10vh;
}

#backButtonContainer{
    text-align: center; 
    margin-bottom: 7vh; 
    margin-top: 7vh;
}

#cv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 7vh;
}

#cvBody{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#introText{
    border-bottom: solid 2px #ffd256;
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 20px;
}

#workExperienceText{
    width: 50%;
}

#extraNotesText{
    width: 50%;
}

#cvDownload{
    text-align: center;
}


@media (orientation:portrait){

    #cv{
        font-size: 1.8rem;
    }

    li{
        font-size: 1.3rem;
    }

    h3{
        font-size: 1.7rem;
    }

    #workExperienceText{
        width: 100%;
    }
    
    #extraNotesText{
        width: 100%;
    }
    
    #introText{
        font-size: 1.28rem;
    }
}



