@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

body{
    color: #ffd256;
    font-family: "roboto";
    background-color: #181818;
    
}

h1{ 
    font-size: clamp(20px, 4vw, 170px);
    text-align: left;
    margin-top: 25vh;
    margin-left: 10vh;
    margin-bottom: 5vh;

}

h2{
    padding-top: 10px;
}

h3{
    font-size: 0.9vw;
    padding-bottom: 4px;
}

ul{
    list-style-type: circle;
    padding-bottom: 5px;
    padding-left: 20px;
}

li{
    padding-top: 20px;
    font-size: 0.8vw;
    padding-right: 50px;
}

a:link, a:visited{
    color: #ffd256;
    text-decoration: none;
}

.backButton{
    text-align: center;
    font-size: clamp(20px, 2vw, 170px);

    margin-top: 10vh;
}

.backButton{
    text-align: center;
    font-size: clamp(20px, 2vw, 170px);

    margin-top: 10vh;
    margin-bottom: 5vh;
}

#cvBody{
    display: grid;
    margin-left: 5vw;
    margin-right: 5vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    min-height: 200px;
    min-width: 90vw;

    border: solid 2px #ffd256;
    border-radius: 5px;
    padding: 5px;

    font-size: 1vw;
}

#introText{
    grid-column: 1/3;
    grid-row: 1;
    border-bottom: solid 2px #ffd256;

    padding-bottom: 20px;
}

#workExperienceText{
    grid-column: 1;
    grid-row: 2;

    margin-top: 10px;
}

#extraNotesText{
    grid-column: 2;
    grid-row: 2;

    margin-top: 10px;
}

#cvDownload{
    margin-top: 10px;
    margin-left: 5vw;;
}

@media (orientation:portrait){
    body{
        touch-action: manipulation; /*stops double tap zoom*/

        -webkit-text-size-adjust: none; /*stops browsers messing with text size*/
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
    }

    h1{
        margin-left: 0;
        margin-top: 5vh;
        text-align: center;
        font-size: clamp(20px, 10vw, 170px);
    }

    h2{
        padding-top: 10px;
        font-size: 3vw;
    }
    
    h3{
        font-size: 2.4vw;
        padding-bottom: 4px;
    }
    
    ul{
        list-style-type: circle;
        padding-bottom: 5px;
        padding-left: 20px;
    }
    
    li{
        padding-top: 20px;
        font-size: 2vw;
        padding-right: 50px;
    }

    #introText{
        grid-column: 1/3;
        grid-row: 1;
        border-bottom: solid 2px #ffd256;
    
        padding-bottom: 20px;

        font-size: 2vw;
    }

    #cvDownload{
        margin-top: 10px;
        margin-left: 5vw;;
        font-size: 3vw;
    }

}





