@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}
html{
    font: 100%;
}

body{
    color: #ffd256;
    background-color: #181818;
    font-family: "roboto";
}

button{
    background-color: transparent;
    border: none;
    color: #ffd256;
}

button:focus {
    border: none;
    outline: none;
}

a:link, a:visited{
    color: #ffd256;
}

h1{ 
    font-size: clamp(1.2rem, 4vw, 4rem);

    padding-left: 6; 

    margin-top: 10vh; 
    margin-bottom: 70vh;
    margin-left: 2vw;
    margin-right: 60vw;

    height: 20vh;
    text-align: left;

}

.subTitle{
    font-size: 30%;
    padding-top: 10;
    padding-left: 5;
}

.orangeBorder{
    border: 2px solid #ffd256;
    border-radius: 5px;

    padding: 5px;
}

.textBox{
    text-align: center;
    font-size: clamp(1rem, 1.2vw, 3rem);
    padding: 1.3vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.profileImage{
    width: 30vw; 
    height: auto; 
}

#galleryHeader{
    margin-left: 30vw; 
    margin-right: 30vw;

    border-radius: 5px;

    font-size: clamp(1rem, 1.2vw, 3rem);
} 

.programGallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);

    height: 70vh;
    width: 70vw;

    min-width: 800px;
    min-height: 500px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}


.galleryImage{ /*all images should be 700x700*/
    grid-column: 2/8;
    grid-row: 2/12;

    object-fit: cover;

    width: 100%;
    height: 100%;

    border: 2px solid #ffd256;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;

    padding: 5;
}

.galleryLink{
    grid-column: 2/8;
    grid-row: 2/12;

    object-fit: cover;

    width: 100%;
    height: 100%;
}

.galleryTitle{
    grid-column: 2/12;
    grid-row: 1;

    padding: 5px;

    font-size: clamp(1rem, 3vw, 3rem);

    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border: 2px solid #ffd256;
    border-bottom: none;
}

.galleryCaption{
    grid-column: 8/12;
    grid-row: 2/12;

    border-radius: 0;
    border-bottom-right-radius: 5px;

    border: 2px solid #ffd256;
    border-left: none;

    padding: 5px;

    font-size: clamp(1rem, 1.2vw, 3rem)
}

.galleryLeftArrow{
    grid-column: 1;
    grid-row: 5/6;

    font-size: 7vw;
}

.galleryRightArrow{
    grid-column: 12;
    grid-row: 5/6;
    
    font-size: 7vw;
}

#outroText{
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 27vw;
    margin-right: 27vw;
}

#socialBar{
    display: flex;
    margin-bottom: 5vh;   

    justify-content: center;
}




@media (orientation:portrait){

    body{
        /*
        touch-action: none;
        touch-action: pan-y;
        as well as disabling double tap, disables zoom which some people with bad eyes need, use something else
        */
        touch-action: manipulation; /*stops double tap zoom*/

        -webkit-text-size-adjust: none; /*stops browsers messing with text size*/
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        text-size-adjust: none;
    }

    h1{
        font-size: 10vw;

        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 5vh; 
        margin-bottom: 85vh;

        padding-top: 0.5vh;

        border-radius: 0;

        height: 10vh;

    }

    .textBox{
        padding: 0;
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin-left: 15px;
        margin-right: 15px;

        min-width: inherit;
        max-width: inherit;

        border: 0;

        text-align: left;
        font-size: clamp(25px, 3.6vw, 50px);
    }

    .profileImage{
        width: 90%; 
    }

    .orangeBorder{
        border: 5px solid #ffd256;
        border-radius: 10px;
    }

    #galleryHeader{
        margin-left: 15px; 
        margin-right: 15px;
        font-size: clamp(2rem, 4vw, 5rem);
    }

    .programGallery{
        width: 92vw;
     
        margin-left: 4vw;
        margin-right: 4vw;

        border: 5px solid #ffd256;
        border-radius: 10px;
    }

    .galleryImage{ /*all images should be 700x700*/
        grid-column: 1/13;
        grid-row: 2/7;

        border-radius: 0;
        border: 5px solid #ffd256;
        border-left: 0;
        border-right: 0;
    
        object-fit: cover;
    
        width: 100%;
        height: 100%;

    }

    .galleryLink{
        grid-column: 1/13;
        grid-row: 2/7;
    
        object-fit: cover;
    
        width: 100%;
        height: 100%;
    }

    .galleryTitle{
        grid-column: 1/13;
        grid-row: 1;
    
        padding: 5px;
    
        font-size: clamp(5px, 4vw, 50px);
    
        border: 0;
    }

    .galleryCaption{
        grid-column: 1/13;
        grid-row: 7/12;
    
        font-size: clamp(5px, 3vw, 50px); 

        border: 0;
    }
    
    .galleryLeftArrow{
        grid-column: 1;
        grid-row: 12;
        font-size: 7vw;
    }
    
    .galleryRightArrow{
        grid-column: 12;
        grid-row: 12;
        font-size: 7vw;
    }



    #outroText{
        margin-top: 20vh;
        margin-bottom: 20vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    #socialBar{
        justify-content: center;
        font-size: 4vw;
        margin-bottom: 0.8vh;
    }
}





