#Title{ 
    font-size: 10vw;

    padding-left: 6; 

    margin-top: 10vh; 
    margin-bottom: 70vh;
    margin-left: 2vw;
    margin-right: 50vw;

    height: 20vh;
    text-align: left;

}

.textBox{
    text-align: center;
    font-size: 0.7rem;
    padding: 1.3vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.profileImageContainer{
    margin: 2vh;
}

.profileImage{
    border-radius: 1vw; 
    object-fit: cover; 
    width: 100%; 
    height:100%
}

#galleryHeader{
    margin-left: 2vw; 
    margin-right: 2vw;

    border-radius: 5px;

    font-size: 0.7rem;
} 

.gallery{
    display: flex;
    flex-wrap: wrap;
    transition: margin-bottom 0.5s;
    justify-content: space-evenly;
}

.galleryItem{
    width: 20vw;
    height: 20vw;
    margin-bottom: 3vh;;
}

.galleryPopup{
    display: flex;
    border-radius: 2px;
    width: 73.5vw;
    height: 20vw;
    transition: visibility 0.3s, opacity 0.5s;
}

.popupTongue{
    display:none;
}

.popupImage{
    display: none;
}

.popupTextContainer{
    display: flex; 
    flex-direction: column; 
    padding: 6px;
}

.galleryImage{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.galleryImageContainer{
    height: 100%;
    width: 100%;
    display: block;
}

.galleryTitle{ 
    font-weight: 700;
}

#galleryOutroLink{
    text-align: center;
    margin-top: 5vh;
    font-size: 0.7rem;
}

#outroText{
    margin-top: 12vh;
    margin-bottom: 20vh;
    margin-left: 2vw;
    margin-right: 2vw;
}



