@import url("reset.css");

@font-face{
    font-family:"roboto";
    font-weight: 100;
    src: url("../fonts/Roboto/RobotoMono-VariableFont_wght.ttf")
}

body{
    color: #ffd256;
    font-family: "roboto";
    background-color: #221A0F;
    background-image: url("../images/BackGroundTestNoGlow.png");
    background-position: bottom;
    
}


h1, h2, h3{
    border-radius: 5px;
    font-size: clamp(12px, 1vw, 50px);
    padding: 1.3vh;
}

h1{ 
    font-size: clamp(20px, 4vw, 170px);

    padding-left: 6; 
    margin-left: 2vw;
    margin-right: 70vw;
    margin-top: 10vh; 
    margin-bottom: 70vh;

    height: 20vh;
    text-align: left;

}

h2, h3{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    min-width: 720px;
    max-width: 86vw;

}

button{
    background-color: transparent;
    border: none;
    color: #ffd256;
}



.orangeBack{ /*for anything that isnt a <h> tag*/
    border-radius: 5px;
    padding: 5px;
}

.orangeBorder{
    border: 5px outset #ffd256;
    border-radius: 5px;
}

.textBox{
    text-align: center;
    padding: 2.5vh;
    font-size: 1.3vw;
}

#galleryHeader{
    margin-left: 35vw; 
    margin-right: 35vw;
    border-radius: 5px;
    font-size: 1.4vw;
} 

#programGallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);

    height: 70vh;
    width: 70vw;

    min-width: 800px;
    min-height: 500px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

#personalGallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);

    height: 70vh;
    width: 70vw;

    min-width: 800px;
    min-height: 500px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

.GalleryImage{ /*all images should be 700x700*/
    grid-column: 2/8;
    grid-row: 2/11;

    object-fit: cover;

    width: 100%;
    height: 100%;
}

img.GalleryImage{
    border: 2px solid #ffd256;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;

    padding: 5;
}

.GalleryTitle{
    grid-column: 2/12;
    grid-row: 1;

    padding: 5px;

    font-size: 4vh;

    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-left: 2px solid #ffd256;
    border-top: 2px solid #ffd256;
    border-right: 2px solid #ffd256;
}

.GalleryCaption{
    grid-column: 8/12;
    grid-row: 2/11;

    border-radius: 0;
    border-bottom-right-radius: 5px;

    border-bottom: 2px solid #ffd256;
    border-right: 2px solid #ffd256;
}

.GalleryLeftArrow{
    grid-column: 1;
    grid-row: 5/6;
    font-size: 7vw;
}

.GalleryRightArrow{
    grid-column: 12;
    grid-row: 5/6;
    font-size: 7vw;
}


#socialBar{
    position: fixed;
    display: flex;
    margin-left: 1vh;
    margin-bottom: 1vh;   
    
    bottom: 0;
    left: 0 ;

}




@media (orientation:portrait){

    h1{
        font-size: 10vw;

        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 5vh; 
        margin-bottom: 85vh;

        padding-top: 0.5vh;

        border-radius: 0;

        height: 10vh;

    }

    h2, h3{
        margin-top: 10vh;
        margin-bottom: 10vh;

        min-width: inherit;
        max-width: inherit;

        border-radius: 0;

        font-size: 2.3vw;
    }

    #galleryHeader{
        margin-left: 0; 
        margin-right: 0;
        border-radius: 0;
        font-size: 3vw;
    }

    #programGallery{   
        height: 70vh;
        width: 100%;

        
        margin-left: 0;
        margin-right: 0;
    }

    #personalGallery{   
        height: 70vh;
        width: 100%;

        margin-left: 0;
        margin-right: 0;
    }

    .GalleryImage{ /*all images should be 700x700*/
        grid-column: 1/13;
        grid-row: 2/7;
        border-bottom-left-radius: 0;
    
        object-fit: cover;
    
        width: 100%;
        height: 100%;
    }
    
    .GalleryTitle{
        grid-column: 1/13;
        grid-row: 1;
    
        padding: 5px;
    
        font-size: 5vh;
    
        border-radius: 0;
    }

    .GalleryCaption{
        grid-column: 1/13;
        grid-row: 7/12;
    
        border-radius: 0;
        font-size: 3.2vw; 
    }
    
    .GalleryLeftArrow{
        grid-column: 1;
        grid-row: 12;
        font-size: 7vw;
    }
    
    .GalleryRightArrow{
        grid-column: 12;
        grid-row: 12;
        font-size: 7vw;
    }
}





